*{
    box-sizing:border-box;
    overflow: hidden;

}

body {
    font-family: Helvetica;
}

/**my reponsive calculation is based off this mainContainer. Really it have been done in classes like illustrated in video 24 or going to run into problems like having to specifying another selector id css*/

#mainContainer {
    width: 100%;

}

#mainContainer h1 {
    margin-bottom: 15px;
    text-align:center;
}

    #mainContainer #box1,#box2,#box3 {
        background-color: grey;
        border-width: 1px;
        border: solid;
        margin-left:10px;
        margin-right: 10px;
        margin-top: 10px;
        float:left;

    }

      .header {
            width: 30%;
            float: right;
            clear: both;
            font-size: 12px;
            border-width: 1px;
            border: solid;
            text-align:center;
     
     }



#title1 {
    background-color: blue;
}

#title2 {
   background-color: red;
}

#title3 {
    background-color: yellow;
}

#content1, #content2, #content3{
    float: left;
    font-size: 10px;
    clear: both;
    max-width: 250px;
    margin: 5px 5px 5px 5px;

}


@media(min-width:0px) and (max-width:767px) {
    #box1, #box2, #box3 {
        width:calc(100%-20px);
  
    }

}

@media(min-width:768px) and (max-width:991px){
    #box1, #box2 {
        width: calc(50%-20px);
    }

    #box3 {
        width: calc(100%-20px);

    }

}

@media(min-width:992px) {
    #box1,#box2,#box3 {
        width: calc(33.3%-20px);
      }
}

Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Security Status Help